.card{
    margin: 0 auto;
    width: 50%;
    background-color: aqua;
    border-radius: 10px;
    border: 1px;
    text-align: center;
}
.form-control{
    width: 50%;
    margin: 0 auto;
}

.form-group{
    text-align: center;
}