
    <header class=" text-primary border border-light border-2 rounded-1 bg-light p-1 text-center fw-bold fs-5">
        <p>Products</p>
      </header>

      <div class="text-center">
        <button  type="button" class="btn btn-outline-success btn-sm fw-bold" data-bs-toggle="modal" data-bs-target="#addProductModal">
                  Add New
        </button>
      </div>

    
  <!--Adding custom directive here -->  
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"  ng-repeat="prod in products">
          <div product-cart ></div>
        </div>
      </div>
   </div>
   


<!-- Modal for edit product -->

<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="addProdForm">
              <div class="mb-2">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" id="title" ng-model="product.title" required>
              </div>
              <div class="mb-2">
                <label class="form-label">Description</label>
                <textarea class="form-control" id="desc" rows="3" ng-model="product.description" required></textarea>
              </div>
              <div class="mb-2">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" id="price" ng-model="product.price" required>
              </div>
              <div class="mb-2">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" id="cat" ng-model="product.category" required>
              </div>
               <div class="mb-2">
                <label class="form-label">Image Url</label>
                <input type="text" class="form-control" id="img" ng-model="product.image" required>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                 <button type="submit" class="btn btn-primary btn-sm"  ng-click="updateProduct()" ng-disabled="addProdForm.$invalid" data-bs-dismiss>Add</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for add product -->

  <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="addProdForm">
              <div class="mb-2">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" id="title" ng-model="product.title" required>
              </div>
              <div class="mb-2">
                <label class="form-label">Description</label>
                <textarea class="form-control" id="desc" rows="3" ng-model="product.description" required></textarea>
              </div>
              <div class="mb-2">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" id="price" ng-model="product.price" required>
              </div>
              <div class="mb-2">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" id="cat" ng-model="product.category" required>
              </div>
               <div class="mb-2">
                <label class="form-label">Image Url</label>
                <input type="text" class="form-control" id="img" ng-model="product.image" required>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                 <button type="submit" class="btn btn-primary btn-sm"  ng-click="addProduct()" ng-disabled="addProdForm.$invalid" data-bs-dismiss>Add</button>
              </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <strong>Are you sure you want to delete?</strong>      
        </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-sm btn-primary" ng-click="deleteProduct()" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
  